# Deep Learning Model Configuration
# Path to custom weights for the RRDBNet model
# If left empty or unset, the application will automatically download and use standard pre-trained weights.
MODEL_WEIGHTS_PATH=
