@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #020617; /* slate-950 */
  color: white;
}

/* Custom map styling to match dark theme if possible */
.leaflet-container {
  background: #020617;
  font-family: inherit;
}
